<html>
<head>
<title></title>

</head>
<style>
.center{
width: 120%;

}
.tool{

  width: 20px;

}
.tooltableau{
margin-right: 100px;



}

</style>
<body>
  

   

<link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.min.css"> 

<form class="form-inline">
    <input class="form-control" name="searchInput" placeholder="Chercher..." #searchInput="ngModel" [(ngModel)]="searchText" style="width: 80%;">
    <button class="btn btn-outline-primary" (click)="searchText=''">X</button>
  </form>
  <div class="tooltableau">
    <table class="center" >
      <thead>
        <th >Nom  </th>
        <th>prenom  </th>
        <th>Telephone  </th>
        <th>Date Naissance </th>
        <th>Filiere </th>
        <th>Email     </th>
        <th>Mobile       </th>
        <th>Ville    </th>
        <th>Niveau Etude  </th>
      </thead>
      <ng-container *ngFor="let customer of customerArray">
        <tr class="table-dark" *ngIf="filterCondition(customer)">
          <td>{{customer.nom}}</td>
          <td>{{customer.prenom}}</td>
          <td>{{customer.mobile}}</td>
          <td>{{customer.daten}}</td>
          <td>{{customer.filiere}}</td>
          <td>{{customer.email}}</td>
            <td>{{customer.mobile}}</td>
            <td>{{customer.ville}}</td>
            <td>{{customer.niveaue}}</td>
          <div class="tool">
            <td>
              <button class="btn btn-outline-success" (click)="customerService.populateForm(customer)">Modifier</button>
              <button class="btn btn-outline-danger" (click)="onDelete(customer.$key)">Supprimer</button>
            </td>
          </div>
        </tr>
      </ng-container>
    </table>
  </div>
  <div class="alert alert-danger" *ngIf="showDeletedMessage">
    suppression reussite.
  </div>
  


</body>


</html>