
<!DOCTYPE html>
<html>
<head>
  <title >

    Emploie du temps 
  </title>
</head>
<body >

  <div style="text-align: left">



  </div>
    <div class="textpos" style="text-align: right">
        <!-- <a href="#" (click)="logout()"> se deconnecter</a> -->
      
<img src="../../assets/images/logout2.png"  class="cursor" (click)="logout()" >                     
      </div>
  <div style="text-align:center">

        <h1>  EMPLOI DU TEMPS : </h1><br>
       
   





  </div>



<div class="table100 ver5 m-b-110">
  <table data-vertable="ver5">
    <thead>
      <tr class="row100 head">
        <th class="column100 column1" data-column="column1"></th>
        <th class="column100 column2" data-column="column2">8h-9h</th>
        <th class="column100 column3" data-column="column3">9h-10h</th>
        <th class="column100 column4" data-column="column4">10h-11h</th>
        <th class="column100 column5" data-column="column5">11h-12h</th>
        <th class="column100 column6" data-column="column6">14-15</th>
        <th class="column100 column7" data-column="column7">15h-16h</th>
        <th class="column100 column8" data-column="column8">16h-17h</th>
        <th class="column100 column9" data-column="column9">17h-18h</th>
      </tr>
    </thead>
    <tbody>
      <tr class="row100">
        <td class="column100 column1" data-column="column1">Lundi</td>
        <td class="column100 column2" data-column="column2">Tp : 2IIR  <A (click)="tol1()" style="color: blue" id='test'> lancer le cours</A></td>
        <td class="column100 column3" data-column="column3">Tp: 2IIR  <A (click)="tol2()" style="color: blue" id='test'> lancer le cours</A></td>
        <td class="column100 column4" data-column="column4">-TD :4GI  <A (click)="tol3()" style="color: blue" id='test'> lancer le cours</A></td>
        <td class="column100 column5" data-column="column5">TD :4GI  <A (click)="tol4()" style="color: blue" id='test'> lancer le cours</A></td>
        <td class="column100 column6" data-column="column6">--</td>
        <td class="column100 column7" data-column="column7">-TP :5GC  <A (click)="tol5()" style="color: blue" id='test'> lancer le cours</A></td>
        <td class="column100 column8" data-column="column8">-TP :5GC  <A (click)="tol6()" style="color: blue" id='test'> lancer le cours</A></td>
        <td class="column100 column9" data-column="column9">--</td>
      </tr>
      

      <tr class="row100">
        <td class="column100 column1" data-column="column1">Mardi</td>
        <td class="column100 column2" data-column="column2">--</td>
        <td class="column100 column3" data-column="column3">cours: 5 Genie civil  <A (click)="tom1()" style="color: blue" id='test'> lancer le cours</A></td>
        <td class="column100 column4" data-column="column4">cours: 5 Genie civil  <A (click)="tom2()" style="color: blue"  id='test'> lancer le cours</A></td>
        <td class="column100 column5" data-column="column5">cours: 5 Genie civil  <A (click)="tom3()" style="color: blue" id='test'> lancer le cours</A></td>
        <td class="column100 column6" data-column="column6">--</td>
        <td class="column100 column7" data-column="column7">--</td>
        <td class="column100 column8" data-column="column8">cours : 2IIR  <A (click)="tom4()" style="color: blue" id='test'> lancer le cours</A></td>
        <td class="column100 column9" data-column="column9">cours : 2IIR  <A (click)="tom5()"  style="color: blue" id='test'> lancer le cours</A></td>
      </tr>

      <tr class="row100">
        <td class="column100 column1" data-column="column1">Mercredi</td>
        <td class="column100 column2" data-column="column2">TD : 3IIR  <A (click)="tome1()" style="color: blue"  id='test'> lancer le cours</A></td>
        <td class="column100 column3" data-column="column3">TD : 3IIR <A (click)="tome2()"  style="color: blue" id='test'> lancer le cours</A></td>
        <td class="column100 column4" data-column="column4">--</td>
        <td class="column100 column6" data-column="column6">--</td>
        <td class="column100 column7" data-column="column7">cours : 4 GI  <A (click)="tome3()"  style="color: blue" id='test'> lancer le cours</A></td>
        <td class="column100 column8" data-column="column8">cours : 4 GI  <A (click)="tome4()" style="color: blue"  id='test'> lancer le cours</A></td>
        <td class="column100 column9" data-column="column9">--</td>
      </tr>

      <tr class="row100">
        <td class="column100 column1" data-column="column1">Jeudi</td>
        <td class="column100 column2" data-column="column2">--</td>
        <td class="column100 column3" data-column="column3">cours : 2G  <a (click)="toj1()"  style="color: blue" id='test'> lancer le cours</a></td>
        <td class="column100 column4" data-column="column4">Interconnexions  <A (click)="toj2()"  style="color: blue" id='test'> lancer le cours</A></td>
        <td class="column100 column5" data-column="column5">Interconnexions  <A (click)="toj3()" style="color: blue" id='test'> lancer le cours</A></td>
        <td class="column100 column6" data-column="column6">--</td>
        <td class="column100 column7" data-column="column7">--</td>
        <td class="column100 column8" data-column="column8">Anglais  <A (click)="toj4()"style="color: blue"  id='test'> lancer le cours</A></td>
        <td class="column100 column9" data-column="column9">Communication  <A (click)="toj5()" style="color: blue" id='test'> lancer le cours</A></td>
      </tr>

      <tr class="row100">
        <td class="column100 column1" data-column="column1">Vendredi</td>
        <td class="column100 column2" data-column="column2">--</td>
        <td class="column100 column3" data-column="column3">Tp: 3IIR  <A (click)="tov1()" style="color: blue" id='test'> lancer le cours</A></td>
        <td class="column100 column4" data-column="column4">Tp: 3IIR <A (click)="tov2()"style="color: blue"  id='test'> lancer le cours</A></td>
        <td class="column100 column5" data-column="column5">--</td>
        <td class="column100 column6" data-column="column6">--</td>
        <td class="column100 column7" data-column="column7">cours : 4  Génie Indistriuelle  <A (click)="tov3()"  style="color: blue" id='test'> lancer le cours</A></td>
        <td class="column100 column8" data-column="column8">cours : 4  Génie Indistriuelle  <A (click)="tov4()" style="color: blue"  id='test'> lancer le cours</A> </td>
        <td class="column100 column9" data-column="column9">cours : 4  Génie Indistriuelle  <A (click)="tov5()" style="color: blue"  id='test'> lancer le cours</A> </td>
      </tr>

      <tr class="row100">
        <td class="column100 column1" data-column="column1">samedi</td>
        <td class="column100 column2" data-column="column2">--</td>
        <td class="column100 column3" data-column="column3">--</td>
        <td class="column100 column4" data-column="column4">--</td>
        <td class="column100 column5" data-column="column5">--</td>
        <td class="column100 column6" data-column="column6">--</td>
        <td class="column100 column7" data-column="column7">--</td>
        <td class="column100 column8" data-column="column8">--</td>
        <td class="column100 column9" data-column="column9">--</td>
      </tr>

    </tbody>
  </table>
</div>
<footer class="site-footer">
  <div class="footer-widgets">
      <div class="container">
          <div class="row">
              <div class="col-12 col-md-6 col-lg-3">
                  <div class="foot-about">
                      <a class="foot-logo" href="#"><img src="../../assets/images/6s.png" alt=""></a>

                      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia dese mollit anim id est laborum. </p>

                      <p class="footer-copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                  </div><!-- .foot-about -->
              </div><!-- .col -->

              <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                  <div class="foot-contact">
                      <h2>Contact Us</h2>

                      <ul>
                          <li>Email: info.deertcreative@gmail.com</li>
                          <li>Phone: (+88) 111 555 666</li>
                          <li>Address: 40 Baria Sreet 133/2 NewYork City, US</li>
                      </ul>
                  </div><!-- .foot-contact -->
              </div><!-- .col -->

              <div class="col-12 col-md-6 col-lg-3 mt-5 mt-lg-0">
                <div class="foot-contact">
                  <h2 class="w-100">Quick Links</h2>

                      <ul class="w-50">
                          <li><a href="#">About </a></li>
                          <li><a href="#">Terms of Use </a></li>
                          <li><a href="#">Privacy Policy </a></li>
                          <li><a href="#">Contact Us</a></li>
                      </ul>

                      <ul class="w-50">
                          <li><a href="#">Documentation</a></li>
                          <li><a href="#">Forums</a></li>
                          <li><a href="#">Language Packs</a></li>
                          <li><a href="#">Release Status</a></li>
                      </ul>
                  </div><!-- .quick-links -->
              </div><!-- .col -->

              <div class="col-12 col-md-6 col-lg-3 mt-5 mt-lg-0">
                  <div class="follow-us">
                      <h2>Follow Us</h2>

                      <ul class="follow-us flex flex-wrap align-items-center">
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      </ul>
                  </div><!-- .quick-links -->
              </div><!-- .col -->
          </div><!-- .row -->
      </div><!-- .container -->
  </div><!-- .footer-widgets -->

  <div class="footer-bar">
      <div class="container">
          <div class="row flex-wrap justify-content-center justify-content-lg-between align-items-center">
              <div class="col-12 col-lg-6">
                  <div class="download-apps flex flex-wrap justify-content-center justify-content-lg-start align-items-center">
                      <a href="#"><img src="../../assets/images/app-store.png" alt=""></a>
                      <a href="#"><img src="../../assets/images/play-store.png" alt=""></a>
                  </div><!-- .download-apps -->

              </div>

              <div class="col-12 col-lg-6 mt-4 mt-lg-0">
                  <div class="footer-bar-nav">
                      <ul class="flex flex-wrap justify-content-center justify-content-lg-end align-items-center">
                          <li><a href="#">DPA</a></li>
                          <li><a href="#">Terms of Use</a></li>
                          <li><a href="#">Privacy Policy</a></li>
                      </ul>
                  </div><!-- .footer-bar-nav -->
              </div><!-- .col-12 -->
          </div><!-- .row -->
      </div><!-- .container -->
  </div><!-- .footer-bar -->
</footer><!-- .site-footer -->
</body>
</html>
