<!-- <div style="text-align:center">
        <a href="#" (click)="logout()"> se deconnecter</a>
      
                     
      </div>

<div *ngIf="authService.currentUser">


	<h5 class="text-primary">User Information</h5>
	<h4>
		<strong>UID:</strong> {{ authService.currentUserId }}
	</h4>
	<h4>
		<strong>Email:</strong> {{ authService.currentUserName }}
	</h4>
	<button class="button" routerLink="/cours">lancer le cours </button>
</div>
 -->



	
 <body>
  <!-- <img src="emsi.png" style="widows: 50px;height: 2cm; ;"> -->

  <div  class="couleur" style="text-align:right">
      <h3><a href="#" class="couleur"  (click)="logout()"> se deconnecter</a></h3>
             
      </div>
         
               
  
  

 <header id="home">

   <div class="bg-img" >
     <div class="overlay"></div>
   </div>

   <nav id="nav" class="navbar nav-transparent">
     <div class="container">

       <div class="navbar-header">
      
        
         
        
         <div class="nav-collapse">
           <span></span>
         </div>
      
       </div>

      

     </div>
   </nav>
   <div *ngIf="authService.currentUser">


      
      
  
   <div class="home-wrapper">
     <div class="container">
       <div class="row">




         <div class="col-md-10 col-md-offset-1">
           <div class="home-content">
             <h1 class="white-text">Espace Professeur</h1>
             <p class="white-text">
             
            <br>
            <strong>UID:</strong> {{ authService.currentUserId }}
    <br>
    
            <strong>Email:</strong> {{ authService.currentUserName }}
        
            
            </p>
             <button routerLink="/planningprof" class="white-btn">GO</button>
           </div>
         </div>
        
        </div> 
       </div>
     </div>
   </div>


 </header>

 <div id="about" class="section md-padding">


   <div class="container">

  
     <div class="row">

  

       </div></div></div>
  


</body>
