/* You can add global styles to this file, and also import other style files */
/* nav a:visited, a:link{
    color:#607D8b;
}

nav a:hover{
    color: #039be5;
    background-color: #CFD8DC;
}
nav a:active{
    color:#839be5;

} */

/* You can add global styles to this file, and also import other style files */
