<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
  crossorigin="anonymous">


<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">



<form class="form-inline">
  <button class="btn" (click)="searchText=''">
    <input class="" name="searchInput" placeholder="Recherche par Nom..." #searchInput="ngModel" [(ngModel)]="searchText">rénitialiser
  </button>
</form>
<table class="table table-bordered">
  <thead>
    <th scope="col">Nom </th>
    <th scope="col">prenom </th>
    <th scope="col">Telephone </th>
    <th scope="col">Date Naissance </th>
    <th scope="col">Filiere </th>
    <th scope="col">Email </th>
    <th scope="col">Mobile </th>
    <th scope="col">Ville </th>
    <th scope="col">Niveau Etude </th>
  </thead>
  <ng-container *ngFor="let customer of customerArray">
    <tr *ngIf="filterCondition(customer)">
      <td scope="row">{{customer.nom}}</td>
      <td scope="row">{{customer.prenom}}</td>
      <td scope="row">{{customer.mobile}}</td>
      <td scope="row">{{customer.daten}}</td>
      <td scope="row">{{customer.filiere}}</td>
      <td scope="row">{{customer.email}}</td>
      <td scope="row">{{customer.mobile}}</td>
      <td scope="row">{{customer.ville}}</td>
      <td scope="row">{{customer.niveaue}}</td>
      <div class="tool">
        <td>
          <button class="btn btn-warning" (click)="customerService.populateForm(customer)">Modifier</button>
          <button class="btn btn-danger" (click)="onDelete(customer.$key)">Supprimer</button>
        </td>
      </div>
    </tr>
  </ng-container>
</table>
<div class="alert alert-danger" *ngIf="showDeletedMessage">
  suppression reussite.
</div>