<body>
  <div class="header-w3l">
  </div>
  <div class="main-content-agile">
    <div class="sub-main-w3">
      <h2>Inscription étudiant </h2>
      <div>
        <div style="width: 350px;">
          <form novalidate>
            <div class="uk-padding">
              <div class="uk-card uk-card-default uk-card-body  ">
                <h1 style="text-align: center" class="uk-card-title"> </h1>
                <fieldset class="uk-fieldset">
                  <div class="form-group">
                    <div class="uk-margin">
                      <div class="pom-agile">
                        <span class="fa fa-user-o" aria-hidden="true"></span>
                        <input placeholder="Nom" class="form-control" class="user" [ngClass]="{'is-invalid':submitted && formControls.nom.errors}"
                          required type="text" name="nom" [(ngModel)]="nom">
                      </div>
                      <div class="invalid-feedback" *ngIf="submitted && formControls.nom.errors">
                        a obligatoirement de remplir ce champ.</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="uk-margin">
                      <div class="pom-agile">
                        <span class="fa fa-user-o" aria-hidden="true"></span>
                        <input placeholder="Prénom" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.prenom.errors}" required
                          type="text" name="prenom" [(ngModel)]="prenom">
                      </div>
                      <div class="invalid-feedback" *ngIf="submitted && formControls.prenom.errors">
                        a obligatoirement de remplir ce champ.</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="uk-margin">
                      <div class="pom-agile">
                        <span class="fa fa-user-o" aria-hidden="true"></span>
                        <input placeholder="Année de naissance" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.daten.errors}"
                          required type="date" name="daten" [(ngModel)]="daten">
                      </div>
                      <div class="invalid-feedback" *ngIf="submitted && formControls.daten.errors">
                        a obligatoirement de remplir ce champ.</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="uk-margin">
                      <div class="pom-agile">
                        <span class="fa fa-user-o" aria-hidden="true"></span>
                        <input placeholder="E-mail" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.email.errors}" required
                          type="email" name="email" [(ngModel)]="email">
                      </div>
                      <div class="invalid-feedback" *ngIf="submitted && formControls.email.errors">
                        a obligatoirement de remplir ce champ.</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="uk-margin">
                      <div class="pom-agile">
                        <span class="fa fa-user-o" aria-hidden="true"></span>
                        <input placeholder="Téléphone" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.mobile.errors}" required
                          type="tel" name="mobile" [(ngModel)]="mobile">
                      </div>
                      <div class="invalid-feedback" *ngIf="submitted && formControls.mobile.errors">
                        a obligatoirement de remplir ce champ.</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="pom-agile">
                      <span class="fa fa-user-o" aria-hidden="true"></span>
                      <select class="form-control" formControlName="filiere" name="filiere" [(ngModel)]="filiere">
                        <option [ngValue]="null">Séléctionner votre filière</option>
                        <option *ngFor="let filiere of filiere">{{filiere}}</option>
                        <option>informatique</option>
                        <option>physique</option>
                        <option>genie civil</option>
                        <option>finance</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="pom-agile">
                      <span class="fa fa-user-o" aria-hidden="true"></span>
                      <select class="form-control" formControlName="ville" name="ville" [(ngModel)]="ville">
                        <option [ngValue]="null">Séléctionner votre ville</option>
                        <option *ngFor="let ville of ville">{{ville}}</option>
                        <option>casablanca</option>
                        <option>rabat</option>
                        <option>tanger</option>
                        <option>marrakech</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="pom-agile">
                      <span class="fa fa-user-o" aria-hidden="true"></span>
                      <select formControlName="niveaue" name="niveaue" [(ngModel)]="niveaue">
                        <option [ngValue]="null">Séléctionner votre niveau</option>
                        <option *ngFor="let niveaue of niveaue">{{niveaue}}</option>
                        <option>1ère année</option>
                        <option>2eme année</option>
                        <option>3eme année</option>
                        <option>4eme année</option>
                        <option>5eme année</option>
                      </select>
                    </div>
                  </div>
                  <div class="right-w3l">
                    <input type="submit" style="cursor: pointer" (click)="myRegister()" value="Créer le compte">
                  </div>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
      <a style="color: red" *ngIf="!resetPassword && isValidMailFormat(email)" class="text-danger" (click)="sendResetEmail()">changer le mot de passe pour : {{email}}</a>
      <p *ngIf="resetPassword" style="color: green" class="text-success">verifier votre email pour change le mot de passe!</p>
    </div>
  </div>
</body>