





        <div class="homepage is-preload">
		
            <div id="page-wrapper">
              
              
   
                         


                <section id="header" class="wrapper">
  
                    <div *ngIf="authService.currentUser">
        
                      
                               
      
                      <div id="logo">
                      
                          
                      <h1>Espace Etudiant</h1>
        
                      
                          <p>UID:</p> <p>{{ authService.currentUserId }}</p>
                          <p>Email:</p>  <p>{{ authService.currentUserName }}</p>  
                        </div>
        
        
                    
                    </div>
                  
                </section>
        
                <section id="intro" class="wrapper style1">
                    <button  class="title" routerLink="/planningetudiant" type="submit">planning </button> &nbsp;


                    <div class="container">
        
                  </div>
                
                </section>
        
        
