
/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body {
    background: url(image/laptop.jpg)no-repeat;
    background-size: cover;
    
    margin-top: -20px;
    margin-right: -50px;
    margin-left: -20px;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
	font-family: 'Roboto', sans-serif;
	height: 900vh;
}
/*--header--*/
.header-w3l {
    padding-top: 2em;
}
.header-w3l h1 {
    font-size: 3.5em;
    color: #fff;
    letter-spacing: 10px;
    font-weight: 300;
    text-shadow: 4px 5px 8px #101010;
}
.header-w3l h1 span {
    color: #fb6906;
}
/*--//header--*/
/*--main--*/
.sub-main-w3 {
    width: 41%;
    margin: 125px auto;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    padding: 50px;
}
.sub-main-w3 h2 {
    color: #fff;
    font-size: 2.3em;
    margin-bottom: 1em;
    font-weight: 300;
}
.pom-agile {
    padding: 12px 15px;
    border-bottom:2px solid #fb6906;
    background: #fff;
}
.pom-agile:nth-child(1){
    margin-bottom: 15px;
}
.pom-agile input,select{
    outline: none;
    font-size: .9em;
    border: none;
    background: transparent;
    width: 93%;
    color: #000;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}
.right-w3l input[type="submit"] {
    color: #fff;
    background: #fb6906;
    border: none;
    padding: 12px 45px;
    outline: none;
    font-size: .9em;
    cursor: pointer;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
.right-w3l input[type="submit"]:hover {
    background: #fff;
    color: black;
	-webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
	transition: 0.5s all;
}
span.fa {
    float: left;
    color: #000;
}
.sub-w3l {
    padding: 20px 0 30px;
}
.sub-agile {
    float: left;
}
.sub-agile input[type="checkbox"] {
    display: none;
}
.sub-agile input[type="checkbox"]+label {
    position: relative;
    padding-left: 25px;
    display: inline-block;
    font-size: .9em;
    color: #fff;
    cursor: pointer;
}
.sub-agile input[type="checkbox"]+label span:first-child {
    width: 13px;
    height: 13px;
    display: inline-block;
    border: 1px solid #fff;
    position: absolute;
    top: 1px;
    left: 2px;
}
.sub-agile input[type="checkbox"]:checked+label span:first-child:before {
    content: "";
    background: url(images/tick.png)no-repeat;
    position: absolute;
    left: 2px;
    top: 1px;
    font-size: 10px;
    width: 10px;
    height: 10px;
}
.sub-w3l a {
    float: right;
    font-size: .9em;
    color: #fff;
}
/*--placeholder-color--*
::-webkit-input-placeholder{
	color:#fff;
}
:-moz-placeholder { /* Firefox 18- *
   color: #fff; 
}
::-moz-placeholder {  /* Firefox 19+ *
   color: #fff;  
}
:-ms-input-placeholder {  
   color: #fff;  
}
/*--//placeholder-color--*/
/*--//main--*/
/*--footer--*/
.footer p {
    font-size: .9em;
    color: #fff;
    letter-spacing: 2px;
}
.footer p a {
    color: #fb6906;
	-webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
	transition: 0.5s all;
}
.footer p a:hover {
    color: #fff;
	-webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
	transition: 0.5s all;
}
/*--//footer--*/

/*--responsive--*/
@media(max-width: 1440px){
    .footer {
        margin-bottom: 40px;
    }
    .sub-main-w3 {
        margin: 100px auto;
    }
}
@media(max-width: 1366px){
    .sub-main-w3 {
        width: 40%;
    }
}
@media(max-width: 1280px){
    .header-w3l h1 {
        font-size: 3.4em;
        letter-spacing: 9px;
    }
    .sub-main-w3 {
        width: 34%;
    }
}
@media(max-width: 1080px){
    .header-w3l h1 {
        font-size: 3.2em;
    }
    .sub-main-w3 {
        width: 38%;
        padding: 40px 50px;
    }
}
@media(max-width: 1024px){
    .sub-main-w3 {
        width: 42%;
    }
}
@media(max-width: 900px){
    .header-w3l h1 {
        font-size: 3em;
        letter-spacing: 8px;
    }
    .sub-main-w3 h2 {
        font-size: 1.7em;
    }
    .sub-main-w3 {
        width: 47%;
        margin: 70px auto;
    }
}
@media(max-width: 800px){
    .header-w3l {
        padding-top: 1em;
    }
}
@media(max-width: 768px){
    .header-w3l {
        padding-top: 3em;
    }
    .sub-main-w3 {
        margin: 150px auto;
    }
}
@media(max-width: 736px){
    .sub-main-w3 {
        width: 56%;
    }
    .header-w3l {
        padding-top: 1em;
    }
    .sub-main-w3 {
        margin: 70px auto;
    }
}
@media(max-width: 667px){
    .header-w3l h1 {
        letter-spacing: 6px;
    }
    .pom-agile {
        padding: 10px 15px;
    }
    .sub-main-w3 {
        width: 61%;
        padding: 35px 40px;
    }
    .footer {
        margin-bottom: 28px;
    }
}
@media(max-width: 600px){
    .footer p {
        font-size: .8em;
    }
    .header-w3l h1 {
        font-size: 2.9em;
    }
}
@media(max-width: 568px){
    .header-w3l h1 {
        font-size: 2.7em;
    }
    .sub-main-w3 {
        width: 64%;
    }
    .pom-agile input,select {
        width: 91%;
    }

    
}
@media(max-width: 480px){
    .header-w3l h1 {
        font-size: 2.3em;
        letter-spacing: 5px;
    }
    .sub-main-w3 h2 {
        font-size: 1.5em;
    }
    .sub-main-w3 {
        width: 69%;
    }
    .footer p {
        line-height: 1.9;
        letter-spacing: 1px
    }
}
@media(max-width: 440px){

}
@media(max-width: 414px){
    .header-w3l h1 {
        letter-spacing: 3px;
    }
    .header-w3l {
        padding-top: 1.5em;
    }
    .sub-main-w3 {
        width: 75%;
        padding: 30px 35px;
        margin: 80px auto;
    }
}
@media(max-width: 384px){
    .header-w3l h1 {
        letter-spacing: 2px;
        font-size: 2.2em;
    }
    .right-w3l input[type="submit"] {
        padding: 10px 38px;
    }
    .sub-main-w3 {
        margin: 60px auto;
    }
    .pom-agile input,select{
        width: 89%;
    }
}
@media(max-width: 375px){

}
@media(max-width: 320px){
    .header-w3l h1 {
        letter-spacing: 2px;
        font-size: 1.7em;
    }
    .sub-main-w3 h2 {
        font-size: 1.3em;
    }
    .sub-agile input[type="checkbox"]+label {
        padding-left: 22px;
        font-size: .8em;
    }
    .sub-w3l a {
        font-size: .8em;
    }
    .pom-agile input,select {
        font-size: .8em;
        width: 87%;
    }
    .pom-agile {
        padding: 10px 10px;
    }
    .sub-main-w3 {
        margin: 37px auto;
        width: 76%;
        padding: 23px 25px;
    }
    .right-w3l input[type="submit"] {
        font-size: .8em;
    }
    span.fa {
        line-height: 1.2;
    }
}
/*--//responsive--*/

*,
:before,
:after {
  box-sizing: border-box;
}

body {
  margin-right: 100px;
  
}
.couleur{

  margin-right: -300x;

}
.textpos{
  margin-right: -390px;
  margin-top: -50px;

}
.form-group {
  width: 320px;
  margin: 45px auto;
}
form h1 {
  font-size: 3em;
  font-weight: 300;
  text-align: center;
  color: #2196F3;
}
form h5 {
  text-align: center;
  text-transform: uppercase;
  color: #c6c6c6;
}
form hr.sep {
  background: #2196F3;
  box-shadow: none;
  border: none;
  height: 2px;
  width: 25%;
  margin: 0px auto 45px auto;
}
form .emoji {
  font-size: 1.2em;
}

.form-group {
  position: relative;
  margin: 45px 0;
}

textarea {
  resize: none;
}

input,
textarea {
  background: none;
  color: #000000;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 320px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c6c6c6;
}
input:focus,
textarea:focus {
  outline: none;
}
input:focus ~ label, input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -14px;
  font-size: 12px;
  color: #2196F3;
}
input:focus ~ .bar:before,
textarea:focus ~ .bar:before {
  width: 320px;
}

input[type="password"] {
  letter-spacing: 0.3em;
}

label {
  color: #c6c6c6;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
}

.bar {
  position: relative;
  display: block;
  width: 320px;
}
.bar:before {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #2196F3;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
  left: 0%;
}

.btn {
  background: #fff;
  color: #959595;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.btn:hover {
  color: #8b8b8b;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
}
.btn.btn-link {
  background: #2196F3;
  color: #d3eafd;
}
.tab{
  width: 80px;

}
.btn.btn-link:hover {
  background: #0d8aee;
  color: #deeffd;
}
.btn.btn-submit {
  background: #2196F3;
  color: #bce0fb;
}
.btn.btn-submit:hover {
  background: #0d8aee;
  color: #deeffd;
}
.btn.btn-cancel {
  background: #eee;
}
.btn.btn-cancel:hover {
  background: #e1e1e1;
  color: #8b8b8b;
}

.btn-box {
  text-align: center;
  margin: 50px 0;
}

table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}