<body>
  <div class="header-w3l">
  </div>
  <div class="main-content-agile">
    <div class="sub-main-w3">
      <h2>Ajout des étudiants</h2>
      <div>
        <div style="width: 550px;">
          <form [formGroup]="this.customerService.form" novalidate (ngSubmit)="onSubmit()">
            <input type="hidden" formControlName="$key">
            <div class="uk-padding">
              <div class="uk-card uk-card-default uk-card-body  ">
                <h1 style="text-align: center" class="uk-card-title"> </h1>
                <fieldset class="uk-fieldset">
                  <div class="form-group">
                    <div class="uk-margin">
                      <div class="pom-agile">
                        <span class="fa fa-user-o" aria-hidden="true"></span>
                        <input placeholder="Nom" formControlName="nom" required class="form-control" [ngClass]="{'is-invalid':submitted && formControls.nom.errors}">
                        <div class="invalid-feedback" *ngIf="submitted && formControls.nom.errors">
                          a obligatoirement de remplir ce champ.</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="uk-margin">
                      <div class="pom-agile">
                        <span class="fa fa-user-o" aria-hidden="true"></span>
                        <input placeholder="Prénom" formControlName="prenom" required class="form-control" [ngClass]="{'is-invalid':submitted && formControls.prenom.errors}">
                        <div class="invalid-feedback" *ngIf="submitted && formControls.prenom.errors">
                          a obligatoirement de remplir ce champ.</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="uk-margin">
                      <div class="pom-agile">
                        <span class="fa fa-user-o" aria-hidden="true"></span>
                        <input placeholder="Date" formControlName="daten" required type="date" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.daten.errors}">
                        <div class="invalid-feedback" *ngIf="submitted && formControls.daten.errors">
                          a obligatoirement de remplir ce champ.</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="uk-margin">
                      <div class="pom-agile">
                        <span class="fa fa-user-o" aria-hidden="true"></span>
                        <input placeholder="E-mail" formControlName="email" required class="form-control" [ngClass]="{'is-invalid':submitted && formControls.email.errors}">
                        <div class="invalid-feedback" *ngIf="submitted && formControls.email.errors">
                          adresse invalide.</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="uk-margin">
                      <div class="pom-agile">
                        <span class="fa fa-user-o" aria-hidden="true"></span>
                        <input placeholder="Téléphone" formControlName="mobile" required class="form-control" [ngClass]="{'is-invalid':submitted && formControls.mobile.errors}">
                        <div class="invalid-feedback" *ngIf="submitted && formControls.mobile.errors">
                          <label *ngIf="formControls.mobile.errors.required">remplir ce champ.</label>
                          <label *ngIf="formControls.mobile.errors.minlength">ce champ accept au moins 8 num.</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="pom-agile">
                      <span class="fa fa-user-o" aria-hidden="true"></span>
                      <select formControlName="filiere">
                        <option *ngFor="let filiere of filiere">{{filiere}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="pom-agile">
                      <span class="fa fa-user-o" aria-hidden="true"></span>
                      <select formControlName="ville">
                        <option *ngFor="let ville of ville">{{ville}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="pom-agile">
                      <span class="fa fa-user-o" aria-hidden="true"></span>
                      <select formControlName="niveaue">
                        <option *ngFor="let niveaue of niveaue">{{niveaue}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="right-w3l">
                    <input type="submit" (click)="tryRegister(registerForm.value)" class="btn btn-submit" value="Valider">
                  </div>
                </fieldset>
              </div>
            </div>
          </form>
          <div class="alert alert-info" *ngIf="showSuccessMessage">
            insertion reussite.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="">
    <app-customer-list></app-customer-list>
  </div>
</body>