<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="js/modernizr.custom.js"></script>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="header-w3l">
        <div class="textpos" style="text-align: right">
            <!-- <a href="#" (click)="logout()"> se deconnecter</a> -->

            <img src="../../assets/images/logout2.png" style="cursor: pointer" class="cursor" (click)="logout()">
        </div>
    </div>
    <div class="main-content-agile">
        <div class="sub-main-w3">
            <h2>écran de gestion</h2>
            <div class="container">
                <section class="3d-buttons">
                    <p class="btn_perspective">
                        <button class="btn btn-3d btn-3dc" routerLink="/Etudiant">Inscription Etudiant</button>

                    </p>
                    <p class="btn_perspective">
                        <button class="btn btn-3d btn-3dd" routerLink="/prof">Inscription Professeur</button>

                    </p>
                    <br />
                    <p class="btn_perspective">
                        <button class="btn btn-3d btn-3dc" routerLink="/register">Creer un compte pour Etudiant</button>

                    </p>
                    <p class="btn_perspective">
                        <button class="btn btn-3d btn-3dd" routerLink="/registerprof">Creer un compte pour Professeur</button>

                    </p>
                    <br />
                    <p class="btn_perspective">
                        <button class="btn btn-3d btn-3db" routerLink="/plannification">Plannification</button>
                    </p>
                </section>
            </div>
            <!-- END container -->
            <!-- <div>
                <div style="width: 350px;">

                    <div>
                        <table>
                            <tr>
                                <td>
                                    <button class="btn btn-3d btn-3dc" routerLink="/Etudiant">Inscription Etudiant</button>
                                </td>
                                <td>
                                    <button class="btn btn-3d btn-3dc" routerLink="/prof">Inscription Professeur</button>
                                </td>
                            </tr>
                        </table>

                        <table class="">
                            <tr>
                                <td>
                                    <button class="btn btn-3d btn-3dc" routerLink="/register">Creer un compte pour Etudiant</button>
                                </td>
                                <td>
                                    <button class="btn btn-3d btn-3dc" routerLink="/registerprof">Creer un compte pour Professeur</button>
                                </td>
                            </tr>
                        </table>
                        <table class="td_hide">
                            <tr>
                                <td>HIDDEN</td>
                                <td>
                                    <button class="btn btn-3d btn-3dc" routerLink="/plannification">Plannification</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</body>