<body>
    <div class="header-w3l">
        <div class="textpos" style="text-align: right">
            <img src="../../assets/images/logout2.png" style="cursor: pointer" class="cursor" (click)="logout()">
        </div>
    </div>
    <div class="main-content-agile">
        <div class="sub-main-w3">
            <h2 style="text-align: center">Création de compte professeur</h2>
            <div>
                <div style="width: 350px;">
                    <form novalidate>
                        <div class="pom-agile">
                            <span class="fa fa-user-o" aria-hidden="true"></span>
                            <div class="form-group">
                                <input placeholder="E-mail" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.email.errors}" required
                                    type="text" name="email" [(ngModel)]="email">
                            </div>
                            <div class="invalid-feedback" *ngIf="submitted && formControls.email.errors">
                                a obligatoirement de remplir ce champ.</div>
                        </div>
                        <div class="form-group">
                            <div class="pom-agile">
                                <span class="fa fa-key" aria-hidden="true"></span>

                                <input placeholder="Mot de passe" [ngClass]="{'is-invalid':submitted && formControls.password.errors}" required type="password"
                                    name="password" [(ngModel)]="password">
                                <div class="invalid-feedback" *ngIf="submitted && formControls.password.errors">
                                    a obligatoirement de remplir ce champ.</div>
                            </div>
                        </div>
                        <div class="right-w3l">
                            <input type="submit" style="cursor: pointer" (click)="myRegister()" value="Créer le compte">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>