<body>
	<div style="text-align: left">
	</div>
	<div class="header-w3l">
	</div>
	<div class="main-content-agile">
		<div class="sub-main-w3">
			<h2>Connection Professeur </h2>
			<div *ngIf="!authService.isUserEmailLoggedIn">
				<div style="width: 350px;" *ngIf="isNewUser">
					<p *ngIf="errorMessage.length > 0" class="text-danger">
						{{errorMessage}}</p>
					<p *ngIf="error.message.length > 0" class="text-danger">
						{{error.message}}</p>
					<form (ngSubmit)="onLoginEmail()" ngNativeValidate>
						<div class="pom-agile">
							<span class="fa fa-user-o" aria-hidden="true"></span>
							<div class="form-group">
								<input required class="form-control" placeholder="E-mail" name="Name" class="user" type="email" required="" [(ngModel)]="email">
							</div>
						</div>
						<div class="form-group">
							<div class="pom-agile">
								<span class="fa fa-key" aria-hidden="true"></span>
								<input required type="password" placeholder="Mot de passe" class="pass" id="password" name="password" required [(ngModel)]="password">
							</div>
						</div>
						<div class="right-w3l">
							<input type="submit" value="se connecter">
						</div>
					</form>
				</div>
			</div>
			<a *ngIf="!resetPassword && isValidMailFormat(email)" class="text-danger" (click)="sendResetEmail()">changer le mot de passe pour : {{email}}</a>
			<p *ngIf="resetPassword" class="text-success">verifier votre email pour change le mot de passe!</p>
		</div>
	</div>
</body>